<!doctype html>
<html>
    <head>
        <title>Page Title</title>
        <meta charset="UTF-8" />
        <meta name="description" content="Fileshare" />

        <link type="text/css" rel="stylesheet" href="reset.css" />
        <link type="text/css" rel="stylesheet" href="index.css" />
    </head>
    <body>
        <nav>
            <a href="/login.html">Login</a>
        </nav>

        <form action="/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="user" />
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" />
            </div>

            <input type="submit" value="Login" />
        </form>

        <script src="index.js"></script>
    </body>
</html>
